* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Cinzel', serif;
}

header {
  background: black;
}

nav {

}

ul {

}

li {
  list-style: none;
}

.nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: blue;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.75em;
}

.logo img {
  width: 100px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 0.3125em auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    top: -200px;
    left: 0;
  }

  .nav-menu li {
    margin: 1em;
    padding: 0.5em 0;
    width: 90%;
    border-bottom: 1px solid grey;
  }

  .nav-menu.active {
    position: fixed;
    display: block;
    top: 70px;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    align-items: first baseline;
    transition: 0.3s;
    border-top: 1px solid grey;
  }

}

/* End of Nav */


/* Hero Section */
.hero {
    display: flex;
    align-items: first baseline;
    padding-left: 3em;
    flex-direction: column;
    justify-content: center;

    height: 35vh;
    background-image: url(./img/ayesha-hairsalon-main.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}

.hero button {
  color: whitesmoke;
  background-color: black;
  border: none;
  margin-top: 2em;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
}


/* End of Hero */

/* Services Section */

.services {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}

.service-heading {
  font-family: Cinzel, serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.service-description {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  line-height: 1.8;
  text-align: center;
  color: grey;
}

@media (min-width: 768px) {
  .services {
    flex-direction: row;
  }

  .service-description {
    max-width: 350px;
  }
}

/* End of services */


/* Start of CTA section */
.call-to-action {
  background: rgb(243, 244, 246);
  display: flex;
  flex-direction: column;
  padding: 6em 2em 1em 2em;
}

.cta-heading {
  font-family: Cinzel, serif;
  font-size: 2.8rem;
  font-weight: 300;
}

.cta-description {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: grey;
  line-height: 1.8;
  margin: 2em 0;
}

.cta-btn {
  border: none;
  color: whitesmoke;
  background-color: black;

  text-transform: uppercase;
  padding: 1.7em 2.3em;
  margin-bottom: 4em;
}


.container-img {
  background-image: url(./img/make-your-own-momentum-img.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 30em;
}

@media (min-width: 768px) {
  .call-to-action {
    justify-content: center;
    align-items: center;
    }
}

@media (min-width: 769px) {
  .cta-wrapper {
    max-width: 768px;
  }
}


@media (min-width: 1200px) {
  .call-to-action {
    flex-direction: row;
  }

  .cta-wrapper {
    display: flex;
    max-width: 1200px;
  }

  .container-img {
    width: 50%;
  }

  .container {
    padding-right: 2em;
    width: 50%;
  }
}








