* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Cinzel', serif;
}

header {
  background: black;
}

nav {

}

ul {

}

li {
  list-style: none;
}

.nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: blue;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.75em;
}

.logo img {
  width: 100px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 0.3125em auto;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    top: -200px;
    left: 0;
  }

  .nav-menu li {
    margin: 1em;
    padding: 0.5em 0;
    width: 90%;
    border-bottom: 1px solid grey;
  }

  .nav-menu.active {
    position: fixed;
    display: block;
    top: 70px;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    align-items: first baseline;
    transition: 0.3s;
    border-top: 1px solid grey;
  }

}

/* End of Nav */


/* Hero Section */
.hero {
    display: flex;
    align-items: first baseline;
    padding-left: 3em;
    flex-direction: column;
    justify-content: center;

    height: 35vh;
    background-image: url(./img/ayesha-hairsalon-main.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}

.hero button {
  color: whitesmoke;
  background-color: black;
  border: none;
  margin-top: 2em;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .hero {
    height: 100vh;
  }
}


/* End of Hero */

/* Services Section */

.services {
  display: flex;
  flex-direction: column;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em;
}

.service-heading {
  font-family: Cinzel, serif;
  margin-top: 1em;
}

.service-description {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  line-height: 1.5;
  text-align: center;
}





